@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: darkgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 360px;
  height: 400px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #777;
}
.container form {
  width: 280px;
  position: absolute;
  top: 80px;
  left: 40px;
  transition: 0.5s;
} 

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #777;
  outline: none;
  background: transparent;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0px 10px;
  background-color: rgb(226, 21, 131);
  border-radius: 10px;
  outline: none;
  border: 0;
  color: white;
}
#form2 {
  left: 450px;
}
#form3 {
  left: 450px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0px -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: #111;
  font-weight: 700;
  position: relative;
} 
#progress {
  position: absolute;
  width: 120px;
  height: 100%;
  background-color: rgb(226, 21, 131);
  transition: 1s;
}
#progress::after {
  content: '';
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid rgb(226, 21, 131);
}
